:root {
  --is-4k: 2;
}

html, body {
	font-family: "Assistant";
	font-weight: lighter;
	background-color: none;
	color: #FFFFFF;
	padding: 0;
	margin: 0;
	/*overflow: hidden; */
}

[v-cloak] {
	display: none;
}


h1,h2,h3,h4,h5,h6 {
	font-weight: lighter;
	margin: 0;
	padding: 0;
}

#titrePdp {
	width: 600px;
	height: auto;

	position: absolute;
	top: 20px;
	left: 30px;

	z-index: 999;
}


/* LAYOUT PRINCIPAL */ 
#tvLayout {
	display: block;
	grid-template-columns: auto auto;
	grid-template-rows: 1fr;
	place-content: stretch end;
	height: 100vh;
	padding: 0;
	margin: 0;
}

#mainColumn {
	padding-top: 170px;
}

#rightColumn {
	width: 100%
	display: grid;
	grid-template-rows: auto auto auto auto;
	justify-content: stretch;
	align-content: start;
	background-color: #1F2128;
}


/* EPHEMERIDE */
#ephemeride {
	display: grid;
	grid-template-rows: auto auto auto;

	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	align-self: end;
	justify-self: end;
	padding-right: 50px;
	padding-bottom: 20px;
}

#datedujour {
	margin: 0;
	padding: 0;
	font-size: 30pt;
	text-transform: capitalize;
	text-align: right;
		
	grid-row-start: 1;
	grid-row-end: 2;
	align-self: end;
	justify-self: end;
}

#saintdujour {
	text-align: right;
	font-size: 27pt;
	margin: 0;
	padding: 0;

	grid-row-start: 2;
	grid-row-end: 3;
	align-self: start;
	justify-self: end;
}

#saintdujour:before {
  content: "St ";
}


/* LEVER DU SOLEIL */
#soleildujour {
	color: #FADF43;
	padding: 0;
	font-size: 20pt;

	display: block;
	grid-template-columns: 40px 75px 40px 65px;

	grid-row-start: 3;
	grid-row-end: 4;
	align-self: start;
	justify-self: end;
}

#soleildujour div {
	text-align: right;
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
}

.imgSunrise, .imgSunset {
	fill: red;
}

.soleilLeverIcon {
	grid-column-start: 1;
	grid-column-end: 2;
	align-self: end;
	justify-self: start;
}

.soleilLever {
	grid-column-start: 2;
	grid-column-end: 3;
	align-self: center;
	justify-self: start;
}

.soleilCoucherIcon {
	grid-column-start: 3;
	grid-column-end: 4;
	align-self: end;
	justify-self: end;
}

.soleilCoucher {
	grid-column-start: 4;
	grid-column-end: 5;
	align-self: center;
	justify-self: end;
}





/* METEO */
#meteo {
	font-size: 18pt;

	display: none;
	grid-template-columns: auto auto;
	grid-template-rows: auto;

	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	align-self: start;
	justify-self: stretch;

	padding: 10px 40px;
	background-color: rgba(45,187,255,.1);
}

#meteoNowTemperatureActuelle {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;

	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	align-self: start;
	justify-self: start;

	font-size: 45pt;
	color: #2DBBFF;
}

#meteoNowTemp {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	align-self: start;
	justify-self: start;

	color: #2dbbff;
	font-size: 77pt;
	line-height: 58pt;
	padding-right: 20px;
}

#meteoNowIcon {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	align-self: center;
	justify-self: center;

	color: #fff;
}

#meteoNowWind {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	align-self: start;
	justify-self: stretch;

	font-size: 16pt;
	color: #FADF43;

	position: relative;
	top: 9px;
}

#meteoNowWindIcon {
	font-size: 18pt;
}

#meteoNowDescription {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	align-self: start;
	justify-self: start;

	font-size: 20pt;
	color: #2DBBFF;

	text-transform: capitalize;
	white-space: nowrap;
	overflow: hidden;
}

#meteoPrevisions {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
	align-self: start;
	justify-self: end;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.meteoBoucle {
	text-align: center;
	min-width: 80px;
}

	.meteoBoucle h3 {
		font-size: 18pt;
	}

	.meteoIcon {
		color: #2DBBFF;
		font-size: 28pt;
		line-height: 12pt;
	}

	.meteoTemp {
		color: #FFF;
		font-size: 25pt;
	}


/* mod VIGICRUE */
#vigicrue {
	overflow: hidden;

	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
	align-self: start;
	justify-self: stretch;

	padding: 10px 50px;
	font-size: 16pt;
	font-weight: inherit;

	background-color: #283E4F;
	background: 2% 0 no-repeat url(../img/vagues.svg) #283E4F;
	background-size: auto 100%;
	margin-top: 1px;

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: center;
}

#crueNiveauActuelTitre {
	font-size: 15pt
}

#crueNiveauActuel {
	margin-right: 60px;
}
#crueNiveauActuel:after {
	content: 'm';
	color: white;
	font-weight: lighter;
	margin-left: 5px;
}

#crueDebitActuelTitre {
	font-size: 15pt
}

#crueDebitActuel, #crueNiveauActuel {
	color: #FADF43;
}

#crueDebitActuel:after {
	content: 'm³/s';
	color: white;
	margin-left: 5px;
}

